<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lawencon.tracker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackerApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.MenuActivity"
            android:label="TrackerApp">
        </activity>
        <activity android:name=".ui.view.DetailTrackerActivity"
            android:label="TrackerApp">
        </activity>
        <activity android:name=".ui.view.LoginActivity"
            android:label="TrackerApp">
        </activity>
        <activity android:name=".ui.view.AbsenceActivity"
            android:label="TrackerApp">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrukzS-dVGLn-gwZSGmvQXSVQNFurk4wY" />
    </application>

</manifest>